.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.circle {
  position: relative;
}
.circle:before {
  border-radius: 80%;
  content: '';
  display: block;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: scale(0.875);
  transform-origin: center center;
}
.circle:after {
  border-radius: 1rem;
  content: '';
  display: block;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  transform: scale(1);
  transform-origin: center center;
  animation: 900ms pulse forwards infinite ease-in-out;
  opacity: 0;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  0% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
