body .register {
  background: url(../Image/welcome1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 70rem) {
  body .register {
    background-size: 70rem 80rem;
  }
}

body .mypage {
  background: url(../Image/welcome1.png);
  /* width: 100vw; */
  background-repeat: no-repeat;
  background-size: cover;
}

/* body .makerolling {
  background-color: #fcedb0;
  height: 100vh;
} */

body .login {
  background: url(../Image/sketchbookLogin.png);
  background-repeat: no-repeat;
  background-color: #fcedb0;
  background-size: cover;
  background-size: 90rem 50rem;
  background-position: center;
}
@media screen and (max-width: 63rem) {
  body .login {
    background-size: 50rem 40rem;
  }
}

body .filepond--root,
.filepond--root {
  height: 30rem;
  background-color: white;
  margin: auto;
  border-color: #FFD7E3;
  border-width: 10px;
  border-style: dashed;
  border-radius: 25px;
}
body .filepond--drop-label {
  height: 29rem;
  background-color: white;
  background-image: url(../Image/upload.png);
  background-position: center;

  background-repeat: no-repeat;
  border-radius: 10px;

  /* box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25); */
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
