body .welcome {
  background: url(../Image/sketchbookWelcome.png);
  background-repeat: no-repeat;
  background-color: #fcedb0;
  background-size: cover;
  background-size: 100rem 100rem;
}
@media screen and (max-width: 63rem) {
  body .welcome {
    background-size: 60rem 40rem;
  }
}

body .register {
  background: url(../Image/sketchbookLogin.png);
  background-repeat: no-repeat;
  background-color: #fcedb0;
  background-size: cover;
  background-size: 75rem 50rem;
  background-position: center;
}
@media screen and (max-width: 63rem) {
  body .register {
    background-size: 50rem 40rem;
  }
}

body .mypage {
  background-color: #fcedb0;
}

body .makerolling {
  background-color: #fcedb0;
  height: 100vh;
}

body .login {
  background: url(../Image/sketchbookLogin.png);
  background-repeat: no-repeat;
  background-color: #fcedb0;
  background-size: cover;
  background-size: 90rem 50rem;
  background-position: center;
}
@media screen and (max-width: 63rem) {
  body .login {
    background-size: 50rem 40rem;
  }
}
