body .register {
  background: url(../Image/sketchbookLogin.png);
  background-repeat: no-repeat;
  background-color: #fcedb0;
  background-size: cover;
  background-size: 75rem 50rem;
  background-position: center;
}
@media screen and (max-width: 63rem) {
  body .register {
    background-size: 50rem 40rem;
  }
}

/* body .mypage {
  background: url(../Image/sketchbook.png);
  background-repeat: no-repeat;
  background-color: #fcedb0;
  background-size: cover;
  background-size: 80rem 22rem;
  background-position-x: center;
} */

body .mypage {
  background-color: #fcedb0;
}
