.hand {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 176px;
  left: 340px;
  animation-name: handmove;
  animation-duration: 0.333s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0s;
  animation-timing-function: linear;
}
.moveTopBtn {
  background: url(../Image/down.png);
  background-repeat: no-repeat;
  position: absolute;
  margin:auto auto auto 12rem;
  bottom: 0rem;
  width: 7rem;
  height: 7rem;
  opacity: 0.9;

}

@keyframes handmove {
  0% {
    transform: rotate(0deg) translateY(0px);
  }
  100% {
    transform: rotate(2deg) translateY(-6px);
  }
}
