body .welcome {
  background: url(../Image/sketchbookWelcome.png);
  background-repeat: no-repeat;
  background-color: #fcedb0;
  background-size: cover;
  background-size: 100rem 100rem;
}
@media screen and (max-width: 63rem) {
  body .welcome {
    background-size: 60rem 40rem;
  }
}
